# Mein Test-Notebook

In [3]:
import os

# TensorFlow is the only backend that supports string inputs.
os.environ["KERAS_BACKEND"] = "tensorflow"

import tensorflow as tf
import tensorflow_decision_forests as tfdf
import pandas as pd
import math
import dtreeviz
import numpy as np
import matplotlib.pyplot as plt
from IPython import display
pd.options.display.max_columns = 50
pd.options.display.max_rows = 200
plt.rcParams['figure.figsize'] = [16, 9]
%matplotlib inline
import matplotlib_inline
matplotlib_inline.backend_inline.set_matplotlib_formats('svg')
import logging
logging.getLogger('matplotlib.font_manager').setLevel(level=logging.CRITICAL)

In [ ]:
dataframe = pd.read_csv('./atp_player_comp_list.csv', low_memory=False)
# Wir entfernen einige Features um das Problem übersichtlicher zu machen
#dataframe = dataframe.drop(['tourney_date', 'id'], axis=1)
# Wir entfernen diejenigen Passagiere, für die das Alter nicht angegeben ist
#dataframe = dataframe.dropna()
#dataframe = dataframe[dataframe["Age"].isna() == False]
# Features inkl. one-hot encoding der kategorischen
#dataframe = pd.get_dummies(dataframe)
val_dataframe = dataframe.sample(frac=0.2, random_state=1337)
train_dataframe = dataframe.drop(val_dataframe.index)

print(
    "Using %d samples for training and %d for validation"
    % (len(train_dataframe), len(val_dataframe))
)

# Name of the label column.
label = ''

classes = dataframe[label].unique().tolist()
print(f"Label classes: {classes}")

In [5]:
df_stores = pd.read_csv('./dmml1_stores.csv')

In [6]:
df_stores

,Store ID,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
1,2,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
2,3,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
3,4,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
4,5,a,c,4590.0,3.0,2000.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"
...,...,...,...,...,...,...,...,...,...,...
295,296,a,a,690.0,6.0,2007.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
296,297,b,b,720.0,3.0,2002.0,0,NaN,NaN,NaN
297,298,d,c,1340.0,10.0,2006.0,1,5.0,2013.0,"Feb,May,Aug,Nov"
298,299,d,a,260.0,2.0,2012.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
299,300,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN